In [1]:
%load_ext rpy2.ipython
%load_ext autoreload
%autoreload 2

%matplotlib inline  
from matplotlib import rcParams
rcParams['figure.figsize'] = (16, 100)

import warnings
from rpy2.rinterface import RRuntimeWarning
warnings.filterwarnings("ignore") # Ignore all warnings
# warnings.filterwarnings("ignore", category=RRuntimeWarning) # Show some warnings

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display, HTML

During startup - Warning messages:
1: Setting LC_COLLATE failed, using "C"
2: Setting LC_TIME failed, using "C"
3: Setting LC_MESSAGES failed, using "C"
4: Setting LC_MONETARY failed, using "C"

In [3]:
%%javascript
// Disable auto-scrolling
IPython.OutputArea.prototype._should_scroll = function(lines) {
    return false;
}

In [2]:
%%R

# My commonly used R imports

require('tidyverse')

R[write to console]: Loading required package: tidyverse

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.1     ✔ purrr   1.0.1
✔ tibble  3.1.8     ✔ dplyr   1.1.0
✔ tidyr   1.3.0     ✔ stringr 1.5.0
✔ readr   2.1.4     ✔ forcats 1.0.0
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [11]:
map_df = pd.read_csv('map_df.csv')
map_df.head()

In [9]:
df3 = map_df.sort_values(by='Dollars', ascending=False)
df3.head()

,Unnamed: 0,Company,State,District,Item,Foreign Collaborator,Country,Rupees,Dollars,Type,Year
3369,3369,BOSCH LIMITED,KARNATAKA,Bengaluru,Manufacture of motor vehicle engines,ROBERT BOSCH INTERNATIONALE BETEILIGUNGEN,Switzerland,295002.70,4026.37,Received in the Company,2021
22955,22955,JIO PLATFORMS LIMITED,GUJARAT,Ahmedabad,Other information technology and computer\nser...,JAADHU HOLDINGS LLC,United States of America,270999.96,3629.21,Received in the Company,2020
92938,92938,SERENE SENIOR LIVING (COVAI SR CARE CONS,NaN,CHENNAI,Other specialized construction activities,BALLY TECHNOLOGIES INC,United States of America,149998.07,2252.38,NaN,2016
22944,22944,JIO PLATFORMS LIMITED,GUJARAT,Ahmedabad,Other information\ntechnology and computer ser...,JAADHU HOLDINGS LLC,United States of America,164736.27,2206.13,Received in the Company,2020
12536,12536,ARCELORMITTAL INDIA PRIVATE LIMITED,JHARKHAND,Ranchi,Manufacture of other basic iron and steel n.e.c,OAKEY HOLDING BV,Netherlands,131468.93,1843.53,Received in the company,2020

In [117]:
#remove the decimal from the dollars
df3['Dollars'] = df3['Dollars'].astype(int)

In [139]:
Vodafone = df3[df3['Company'] == 'VODAFONE INDIA LTD']
Jio = df3[df3['Company'] == 'JIO PLATFORMS LIMITED']
Bosch = df3[df3['Company'] == 'BOSCH LIMITED']
Byju = df3[df3['Company'] == 'THINK & LEARN PRIVATE LIMITED']
One97 = df3[df3['Company'] == 'ONE97 COMMUNICATIONS LIMITED']
Amazon = df3[df3['Company'] == 'AMAZON SELLER SERVICES PVT LTD']
Arcelor = df3[df3['Company'] == 'ARCELORMITTAL INDIA PRIVATE LIMITED']
Axis = df3[df3['Company'] == 'AXIS BANK LIMITED']
Oyo = df3[df3['Company'] == 'ORAVEL STAYS PRIVATE LIMITED']
Airtel = df3[df3['Company'] == 'BHARTI AIRTEL LIMITED']
Flipkart = df3[df3['Company'] == 'FLIPKART INDIA PRIVATE LIMITED']
Amazon2 = df3[df3['Company'] == 'AMAZON SELLER SERVICES PRIVATE LIMITED']
Vodafone2 = df3[df3['Company'] == 'VODAFONE IDEA LIMITED']
Paytm = df3[df3['Company'] == 'ONE 97 COMMUNICATIONS LIMITED']

In [140]:
#append all the dataframes
df_companies = pd.concat([Vodafone, Jio, Paytm, Flipkart, Byju, One97, Amazon, Arcelor, Axis, Oyo, Airtel, Amazon2, Vodafone2], axis=0).reset_index(drop=True)
df_companies.head(50)

,Unnamed: 0,Company,State,District,Item,Foreign Collaborator,Country,Rupees,Dollars,Type,Year
0,76767,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,EURO PACIFIC SECURITIES LIMITED,Mauritius,93301.48,1458,NaN,2017
1,76762,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,PRIME METALS LIMITED,Mauritius,51136.82,799,NaN,2017
2,76761,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,MOBILVEST,Mauritius,39198.48,612,NaN,2017
3,76768,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,VODAFONE TELECOMMUNICATIONS(INDIA)LIMITE,Mauritius,38005.45,594,NaN,2017
4,76763,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,TRANSCRYSTAL LIMITED,Mauritius,34176.84,534,NaN,2017
5,76765,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,ASIAN TELECOMMUNICATION INVESTMENTS( MAU,Mauritius,22933.98,358,NaN,2017
6,65115,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,EURO PACIFIC SECURITIES LTD,Mauritius,23458.96,346,NaN,2017
7,76760,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,EURO PACIFIC SECURITIES LIMITED,Mauritius,20829.85,325,NaN,2017
8,76764,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,AL -AMIN INVESTMENTS LIMITED,Mauritius,19002.71,297,NaN,2017
9,65128,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,EURO PACIFIC SECURITIES LTD,Mauritius,13686.89,202,NaN,2017
10,65118,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,PRIME METALS LTD,Mauritius,12857.42,190,NaN,2017
11,76756,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,PRIME METALS LIMITED,Mauritius,11416.46,178,NaN,2017
12,76766,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,CCII (MAURITIUS)INC,Mauritius,10438.81,163,NaN,2017
13,65117,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,MOBILVEST,Mauritius,9855.74,145,NaN,2017
14,65116,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,VODAFONE TELECOMMUNICATIONS (INDIA) LTDM,Mauritius,9555.78,141,NaN,2017
15,76757,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,MOBILVEST,Mauritius,8751.19,136,NaN,2017
16,76754,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,VODAFONE TELECOMMUNICATIONS(INDIA)LIMITE,Mauritius,8484.84,132,NaN,2017
17,65119,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,TRANS CRYSTAL LTD,Mauritius,8593.15,127,NaN,2017
18,76755,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,TRANSCRYSTAL LIMITED,Mauritius,7630.09,119,NaN,2017
19,65131,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,PRIME METALS LTD,Mauritius,7501.53,110,NaN,2017
20,65140,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,EURO PACIFIC SECURITIES LTD,Mauritius,6814.60,100,NaN,2017
21,65113,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,ASIAN TELECOMMUNICATION INVESTMENTS (MAU,Mauritius,5766.33,85,NaN,2017
22,65130,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,MOBILVEST,Mauritius,5750.23,85,NaN,2017
23,65129,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,VODAFONE TELECOMMUNICATIONS (INDIA) LTD,Mauritius,5575.22,82,NaN,2017
24,76759,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,ASIAN TELECOMMUNICATION INVESTMENTS( MAU,Mauritius,5120.08,80,NaN,2017
25,65132,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,TRANS CRYSTAL LTD,Mauritius,5013.58,74,NaN,2017
26,65112,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,AL-AMIN INVESTMENTS LTD,Mauritius,4777.89,70,NaN,2017
27,76758,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,AL -AMIN INVESTMENTS LIMITED,Mauritius,4242.42,66,NaN,2017
28,65137,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,EURO PACIFIC SECURITIES LTD,Mauritius,4477.25,66,NaN,2017
29,65143,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,PRIME METALS LTD,Mauritius,3734.96,55,NaN,2017
30,65126,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,ASIAN TELECOMMUNICATION INVESTMENTS (MAU,Mauritius,3364.31,49,NaN,2017
31,65142,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,MOBILVEST,Mauritius,2863.00,42,NaN,2017
32,65125,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,AL-AMIN INVESTMENTS LTD,Mauritius,2787.61,41,NaN,2017
33,65141,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,VODAFONE TELECOMMUNICATIONS (INDIA) LTD,Mauritius,2775.86,41,NaN,2017
34,65120,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,EURO PACIFIC SECURITIES LTD,Mauritius,2768.11,40,NaN,2017
35,65114,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,CCII (MAURITIUS) INC,Mauritius,2624.65,38,NaN,2017
36,65144,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,TRANS CRYSTAL LTD,Mauritius,2496.23,36,NaN,2017
37,76769,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,CCII (MAURITIUS)INC,Mauritius,2330.50,36,NaN,2017
38,65110,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,PRIME METALS LTD,Mauritius,2453.90,36,NaN,2017
39,65109,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,MOBILVEST,Mauritius,1881.01,27,NaN,2017
40,65108,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,VODAFONE TELECOMMUNICATIONS (INDIA) LTD,Mauritius,1823.77,26,NaN,2017
41,65138,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,ASIAN TELECOMMUNICATION INVESTMENTS (MAU,Mauritius,1675.06,24,NaN,2017
42,65111,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,TRANS CRYSTAL LTD,Mauritius,1640.04,24,NaN,2017
43,65127,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,CCII (MAURITIUS) INC,Mauritius,1531.32,22,NaN,2017
44,65150,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,PRIME METALS LTD,Mauritius,1517.15,22,NaN,2017
45,65136,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,AL-AMIN INVESTMENTS LTD,Mauritius,1387.93,20,NaN,2017
46,65149,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,MOBILVEST,Mauritius,1162.96,17,NaN,2017
47,65148,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,VODAFONE TELECOMMUNICATIONS (INDIA) LTD,Mauritius,1127.56,16,NaN,2017
48,65134,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,ASIAN TELECOMMUNICATION INVESTMENTS (MAU,Mauritius,1100.53,16,NaN,2017
49,65151,VODAFONE INDIA LTD,NaN,MUMBAI,Activities of other wireless telecommunication...,TRANS CRYSTAL LTD,Mauritius,1013.98,14,NaN,2017

In [141]:
#group the data frames by company, country and sum the dollars
df_graph = df_companies.groupby(['Company', 'Country']).sum().reset_index()
df_graph.head(50)

,Company,Country,Unnamed: 0,Rupees,Dollars,Year
0,AMAZON SELLER SERVICES PRIVATE LIMITED,Mauritius,134988,6.39,0,12119
1,AMAZON SELLER SERVICES PRIVATE LIMITED,Singapore,243502,138323.71,1929,24239
2,AMAZON SELLER SERVICES PVT LTD,Luxembourg,357378,12003.74,181,8064
3,AMAZON SELLER SERVICES PVT LTD,Mauritius,379495,5.90,0,12106
4,AMAZON SELLER SERVICES PVT LTD,Singapore,745095,177850.36,2705,20170
5,ARCELORMITTAL INDIA PRIVATE LIMITED,Netherlands,20841,191288.93,2633,4040
6,AXIS BANK LIMITED,Bangladesh,35049,0.50,0,2019
7,AXIS BANK LIMITED,Canada,278634,22.38,0,18171
8,AXIS BANK LIMITED,China,76745,1.74,0,2017
9,AXIS BANK LIMITED,Hong Kong,706403,9.24,0,22192
10,AXIS BANK LIMITED,HongKon,35794,0.61,0,2019
11,AXIS BANK LIMITED,Luxembourg,142425,178.62,0,6055
12,AXIS BANK LIMITED,Mauritius,355713,159675.00,2453,14127
13,AXIS BANK LIMITED,Singapore,129984,2.90,0,4036
14,AXIS BANK LIMITED,Sri Lanka,199116,1.33,0,8074
15,AXIS BANK LIMITED,United Arab Emirates,989910,9.17,0,30259
16,AXIS BANK LIMITED,United Kingdom,206869,4.25,0,6053
17,AXIS BANK LIMITED,United States of America,285113,8902.14,132,12110
18,BHARTI AIRTEL LIMITED,Mauritius,117166,113972.22,1617,8078
19,BHARTI AIRTEL LIMITED,Singapore,76455,50000.00,719,4038
20,FLIPKART INDIA PRIVATE LIMITED,Singapore,479466,133077.96,1937,18163
21,JIO PLATFORMS LIMITED,Cayman Islands,22948,113670.00,1522,2020
22,JIO PLATFORMS LIMITED,Saudi Arabia,22946,113670.00,1522,2020
23,JIO PLATFORMS LIMITED,Singapore,114760,336619.75,4505,10100
24,JIO PLATFORMS LIMITED,United Arab Emirates,45894,147771.00,1978,4040
25,JIO PLATFORMS LIMITED,United States of America,68846,445208.73,5961,6060
26,ONE 97 COMMUNICATIONS LIMITED,Australia,19403,333.83,4,2020
27,ONE 97 COMMUNICATIONS LIMITED,British Virginia,3741,234.00,3,2021
28,ONE 97 COMMUNICATIONS LIMITED,Canada,237521,74.72,0,32322
29,ONE 97 COMMUNICATIONS LIMITED,Cayman Islands,205062,70523.92,1064,12116
30,ONE 97 COMMUNICATIONS LIMITED,Hong Kong,90722,12971.00,194,2016
31,ONE 97 COMMUNICATIONS LIMITED,Mauritius,30332,1009.08,14,4040
32,ONE 97 COMMUNICATIONS LIMITED,Saudi Arabia,38811,2862.93,40,4040
33,ONE 97 COMMUNICATIONS LIMITED,Singapore,332283,36216.47,526,12107
34,ONE 97 COMMUNICATIONS LIMITED,Taiwan,75251,3997.67,61,2017
35,ONE 97 COMMUNICATIONS LIMITED,United Kingdom,125031,14015.08,216,4036
36,ONE 97 COMMUNICATIONS LIMITED,United States of America,944100,42571.05,573,68661
37,ONE 97 COMMUNICATIONS LIMITED,Virgin Islands(US),64844,153.34,2,2018
38,ONE97 COMMUNICATIONS LIMITED,Singapore,343704,3765.35,56,10085
39,ONE97 COMMUNICATIONS LIMITED,United States of America,268277,64.46,0,10093
40,ORAVEL STAYS PRIVATE LIMITED,Cayman Islands,226259,143518.54,2003,16156
41,ORAVEL STAYS PRIVATE LIMITED,China,57769,647.27,10,2018
42,ORAVEL STAYS PRIVATE LIMITED,Mauritius,259894,681.62,10,10091
43,ORAVEL STAYS PRIVATE LIMITED,Sweden,3742,17.60,0,2021
44,ORAVEL STAYS PRIVATE LIMITED,United Kingdom,176190,4130.52,61,4032
45,ORAVEL STAYS PRIVATE LIMITED,United States of America,104465,5485.16,79,4037
46,ORAVEL STAYS PRIVATE LIMITED,Virgin Islands(US),29165,7119.32,100,2019
47,THINK & LEARN PRIVATE LIMITED,Australia,1039,17.33,0,2021
48,THINK & LEARN PRIVATE LIMITED,Belgium,431201,4375.51,64,14122
49,THINK & LEARN PRIVATE LIMITED,Canada,87962,9945.65,140,4038

In [142]:
#show me unique countries in df_graph
df_graph['Country'].unique()

array(['Mauritius', 'Singapore', 'Luxembourg', 'Netherlands',
       'Bangladesh', 'Canada', 'China', 'Hong Kong', 'HongKon',
       'Sri Lanka', 'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Cayman Islands', 'Saudi Arabia',
       'Australia', 'British Virginia', 'Taiwan', 'Virgin Islands(US)',
       'Sweden', 'Belgium', 'France', 'Israel', 'Qatar'], dtype=object)

In [143]:
#Replace HongKon with Hong Kong and save it in df_graph
df_graph['Country'] = df_graph['Country'].str.strip().replace('HongKon', 'Hong Kong')
df_graph['Country'] = df_graph['Country'].str.strip().replace('Virgin Islands(US)', 'Virgin Islands')

In [144]:
df_graph['Country'].unique()

array(['Mauritius', 'Singapore', 'Luxembourg', 'Netherlands',
       'Bangladesh', 'Canada', 'China', 'Hong Kong', 'Sri Lanka',
       'United Arab Emirates', 'United Kingdom',
       'United States of America', 'Cayman Islands', 'Saudi Arabia',
       'Australia', 'British Virginia', 'Taiwan', 'Virgin Islands',
       'Sweden', 'Belgium', 'France', 'Israel', 'Qatar'], dtype=object)

In [145]:
df_graph.head(57)

,Company,Country,Unnamed: 0,Rupees,Dollars,Year
0,AMAZON SELLER SERVICES PRIVATE LIMITED,Mauritius,134988,6.39,0,12119
1,AMAZON SELLER SERVICES PRIVATE LIMITED,Singapore,243502,138323.71,1929,24239
2,AMAZON SELLER SERVICES PVT LTD,Luxembourg,357378,12003.74,181,8064
3,AMAZON SELLER SERVICES PVT LTD,Mauritius,379495,5.90,0,12106
4,AMAZON SELLER SERVICES PVT LTD,Singapore,745095,177850.36,2705,20170
5,ARCELORMITTAL INDIA PRIVATE LIMITED,Netherlands,20841,191288.93,2633,4040
6,AXIS BANK LIMITED,Bangladesh,35049,0.50,0,2019
7,AXIS BANK LIMITED,Canada,278634,22.38,0,18171
8,AXIS BANK LIMITED,China,76745,1.74,0,2017
9,AXIS BANK LIMITED,Hong Kong,706403,9.24,0,22192
10,AXIS BANK LIMITED,Hong Kong,35794,0.61,0,2019
11,AXIS BANK LIMITED,Luxembourg,142425,178.62,0,6055
12,AXIS BANK LIMITED,Mauritius,355713,159675.00,2453,14127
13,AXIS BANK LIMITED,Singapore,129984,2.90,0,4036
14,AXIS BANK LIMITED,Sri Lanka,199116,1.33,0,8074
15,AXIS BANK LIMITED,United Arab Emirates,989910,9.17,0,30259
16,AXIS BANK LIMITED,United Kingdom,206869,4.25,0,6053
17,AXIS BANK LIMITED,United States of America,285113,8902.14,132,12110
18,BHARTI AIRTEL LIMITED,Mauritius,117166,113972.22,1617,8078
19,BHARTI AIRTEL LIMITED,Singapore,76455,50000.00,719,4038
20,FLIPKART INDIA PRIVATE LIMITED,Singapore,479466,133077.96,1937,18163
21,JIO PLATFORMS LIMITED,Cayman Islands,22948,113670.00,1522,2020
22,JIO PLATFORMS LIMITED,Saudi Arabia,22946,113670.00,1522,2020
23,JIO PLATFORMS LIMITED,Singapore,114760,336619.75,4505,10100
24,JIO PLATFORMS LIMITED,United Arab Emirates,45894,147771.00,1978,4040
25,JIO PLATFORMS LIMITED,United States of America,68846,445208.73,5961,6060
26,ONE 97 COMMUNICATIONS LIMITED,Australia,19403,333.83,4,2020
27,ONE 97 COMMUNICATIONS LIMITED,British Virginia,3741,234.00,3,2021
28,ONE 97 COMMUNICATIONS LIMITED,Canada,237521,74.72,0,32322
29,ONE 97 COMMUNICATIONS LIMITED,Cayman Islands,205062,70523.92,1064,12116
30,ONE 97 COMMUNICATIONS LIMITED,Hong Kong,90722,12971.00,194,2016
31,ONE 97 COMMUNICATIONS LIMITED,Mauritius,30332,1009.08,14,4040
32,ONE 97 COMMUNICATIONS LIMITED,Saudi Arabia,38811,2862.93,40,4040
33,ONE 97 COMMUNICATIONS LIMITED,Singapore,332283,36216.47,526,12107
34,ONE 97 COMMUNICATIONS LIMITED,Taiwan,75251,3997.67,61,2017
35,ONE 97 COMMUNICATIONS LIMITED,United Kingdom,125031,14015.08,216,4036
36,ONE 97 COMMUNICATIONS LIMITED,United States of America,944100,42571.05,573,68661
37,ONE 97 COMMUNICATIONS LIMITED,Virgin Islands,64844,153.34,2,2018
38,ONE97 COMMUNICATIONS LIMITED,Singapore,343704,3765.35,56,10085
39,ONE97 COMMUNICATIONS LIMITED,United States of America,268277,64.46,0,10093
40,ORAVEL STAYS PRIVATE LIMITED,Cayman Islands,226259,143518.54,2003,16156
41,ORAVEL STAYS PRIVATE LIMITED,China,57769,647.27,10,2018
42,ORAVEL STAYS PRIVATE LIMITED,Mauritius,259894,681.62,10,10091
43,ORAVEL STAYS PRIVATE LIMITED,Sweden,3742,17.60,0,2021
44,ORAVEL STAYS PRIVATE LIMITED,United Kingdom,176190,4130.52,61,4032
45,ORAVEL STAYS PRIVATE LIMITED,United States of America,104465,5485.16,79,4037
46,ORAVEL STAYS PRIVATE LIMITED,Virgin Islands,29165,7119.32,100,2019
47,THINK & LEARN PRIVATE LIMITED,Australia,1039,17.33,0,2021
48,THINK & LEARN PRIVATE LIMITED,Belgium,431201,4375.51,64,14122
49,THINK & LEARN PRIVATE LIMITED,Canada,87962,9945.65,140,4038
50,THINK & LEARN PRIVATE LIMITED,Cayman Islands,204190,78669.38,1060,30308
51,THINK & LEARN PRIVATE LIMITED,France,25638,341.76,4,2019
52,THINK & LEARN PRIVATE LIMITED,Israel,7673,1083.68,14,2021
53,THINK & LEARN PRIVATE LIMITED,Luxembourg,1089,607.58,8,4042
54,THINK & LEARN PRIVATE LIMITED,Mauritius,1414877,9018.95,117,42365
55,THINK & LEARN PRIVATE LIMITED,Netherlands,155597,25284.36,350,12120
56,THINK & LEARN PRIVATE LIMITED,Qatar,31311,3619.76,50,2019

In [151]:
df_graph['Company'] = df_graph['Company'].str.strip().replace('AMAZON SELLER SERVICES PRIVATE LIMITED', 'AMAZON SELLER SERVICES PVT LTD')
df_graph['Company'] = df_graph['Company'].str.strip().replace('VODAFONE IDEA LIMITED', 'VODAFONE INDIA LTD')
df_graph['Company'] = df_graph['Company'].str.strip().replace('ONE 97 COMMUNICATIONS LIMITED', 'ONE97 COMMUNICATIONS LIMITED')

In [152]:
#remove where dollars = 0
df_graph = df_graph[df_graph['Dollars'] != 0]

In [153]:
df_graph.head(50)

,Company,Country,Unnamed: 0,Rupees,Dollars,Year
1,AMAZON SELLER SERVICES PVT LTD,Singapore,243502,138323.71,1929,24239
2,AMAZON SELLER SERVICES PVT LTD,Luxembourg,357378,12003.74,181,8064
4,AMAZON SELLER SERVICES PVT LTD,Singapore,745095,177850.36,2705,20170
5,ARCELORMITTAL INDIA PRIVATE LIMITED,Netherlands,20841,191288.93,2633,4040
12,AXIS BANK LIMITED,Mauritius,355713,159675.00,2453,14127
17,AXIS BANK LIMITED,United States of America,285113,8902.14,132,12110
18,BHARTI AIRTEL LIMITED,Mauritius,117166,113972.22,1617,8078
19,BHARTI AIRTEL LIMITED,Singapore,76455,50000.00,719,4038
20,FLIPKART INDIA PRIVATE LIMITED,Singapore,479466,133077.96,1937,18163
21,JIO PLATFORMS LIMITED,Cayman Islands,22948,113670.00,1522,2020
22,JIO PLATFORMS LIMITED,Saudi Arabia,22946,113670.00,1522,2020
23,JIO PLATFORMS LIMITED,Singapore,114760,336619.75,4505,10100
24,JIO PLATFORMS LIMITED,United Arab Emirates,45894,147771.00,1978,4040
25,JIO PLATFORMS LIMITED,United States of America,68846,445208.73,5961,6060
26,ONE97 COMMUNICATIONS LIMITED,Australia,19403,333.83,4,2020
27,ONE97 COMMUNICATIONS LIMITED,British Virginia,3741,234.00,3,2021
29,ONE97 COMMUNICATIONS LIMITED,Cayman Islands,205062,70523.92,1064,12116
30,ONE97 COMMUNICATIONS LIMITED,Hong Kong,90722,12971.00,194,2016
31,ONE97 COMMUNICATIONS LIMITED,Mauritius,30332,1009.08,14,4040
32,ONE97 COMMUNICATIONS LIMITED,Saudi Arabia,38811,2862.93,40,4040
33,ONE97 COMMUNICATIONS LIMITED,Singapore,332283,36216.47,526,12107
34,ONE97 COMMUNICATIONS LIMITED,Taiwan,75251,3997.67,61,2017
35,ONE97 COMMUNICATIONS LIMITED,United Kingdom,125031,14015.08,216,4036
36,ONE97 COMMUNICATIONS LIMITED,United States of America,944100,42571.05,573,68661
37,ONE97 COMMUNICATIONS LIMITED,Virgin Islands,64844,153.34,2,2018
38,ONE97 COMMUNICATIONS LIMITED,Singapore,343704,3765.35,56,10085
40,ORAVEL STAYS PRIVATE LIMITED,Cayman Islands,226259,143518.54,2003,16156
41,ORAVEL STAYS PRIVATE LIMITED,China,57769,647.27,10,2018
42,ORAVEL STAYS PRIVATE LIMITED,Mauritius,259894,681.62,10,10091
44,ORAVEL STAYS PRIVATE LIMITED,United Kingdom,176190,4130.52,61,4032
45,ORAVEL STAYS PRIVATE LIMITED,United States of America,104465,5485.16,79,4037
46,ORAVEL STAYS PRIVATE LIMITED,Virgin Islands,29165,7119.32,100,2019
48,THINK & LEARN PRIVATE LIMITED,Belgium,431201,4375.51,64,14122
49,THINK & LEARN PRIVATE LIMITED,Canada,87962,9945.65,140,4038
50,THINK & LEARN PRIVATE LIMITED,Cayman Islands,204190,78669.38,1060,30308
51,THINK & LEARN PRIVATE LIMITED,France,25638,341.76,4,2019
52,THINK & LEARN PRIVATE LIMITED,Israel,7673,1083.68,14,2021
53,THINK & LEARN PRIVATE LIMITED,Luxembourg,1089,607.58,8,4042
54,THINK & LEARN PRIVATE LIMITED,Mauritius,1414877,9018.95,117,42365
55,THINK & LEARN PRIVATE LIMITED,Netherlands,155597,25284.36,350,12120
56,THINK & LEARN PRIVATE LIMITED,Qatar,31311,3619.76,50,2019
57,THINK & LEARN PRIVATE LIMITED,Singapore,886083,24954.46,338,44415
58,THINK & LEARN PRIVATE LIMITED,United Kingdom,7695,4341.59,59,2021
59,THINK & LEARN PRIVATE LIMITED,United States of America,1097398,53658.12,711,121203
60,VODAFONE INDIA LTD,Mauritius,286501,110000.00,1579,16152
61,VODAFONE INDIA LTD,Singapore,71657,33525.45,482,4038
62,VODAFONE INDIA LTD,Mauritius,3833392,546143.66,8369,112952

In [157]:
#GROUP BY COMPANY AND SUM THE DOLLARS and 
summy = df_graph.groupby(['Company']).sum().reset_index()
arrange = summy.sort_values(by='Dollars', ascending=False)
arrange

,Company,Unnamed: 0,Rupees,Dollars,Year
5,JIO PLATFORMS LIMITED,275394,1156939.48,15488,24240
9,VODAFONE INDIA LTD,4191550,689669.11,10430,133142
0,AMAZON SELLER SERVICES PVT LTD,1345975,328177.81,4815,52473
8,THINK & LEARN PRIVATE LIMITED,4350714,215900.80,2915,280693
6,ONE97 COMMUNICATIONS LIMITED,2273284,188653.72,2753,125177
1,ARCELORMITTAL INDIA PRIVATE LIMITED,20841,191288.93,2633,4040
2,AXIS BANK LIMITED,640826,168577.14,2585,26237
3,BHARTI AIRTEL LIMITED,193621,163972.22,2336,12116
7,ORAVEL STAYS PRIVATE LIMITED,853742,161582.43,2263,38353
4,FLIPKART INDIA PRIVATE LIMITED,479466,133077.96,1937,18163

In [154]:
#save to csv
df_graph.to_csv('df_graph.csv', index=False)

In [155]:
#group by Company and sum the dollars
df2 = map_df.groupby('Company')['Dollars'].sum().sort_values(ascending=False).head(50)
df2 = df2.reset_index()
df2.head(50)

                                          Company   Dollars
0                           JIO PLATFORMS LIMITED  15493.63
1                              VODAFONE INDIA LTD   8394.70
2                                   BOSCH LIMITED   4026.37
3                   THINK & LEARN PRIVATE LIMITED   3308.10
4                   ONE 97 COMMUNICATIONS LIMITED   3019.69
5                  AMAZON SELLER SERVICES PVT LTD   2892.24
6             ARCELORMITTAL INDIA PRIVATE LIMITED   2634.17
7                               AXIS BANK LIMITED   2593.25
8                    ORAVEL STAYS PRIVATE LIMITED   2474.54
9                           BHARTI AIRTEL LIMITED   2340.10
10       SERENE SENIOR LIVING (COVAI SR CARE CONS   2252.38
11                 FLIPKART INDIA PRIVATE LIMITED   2251.21
12         AMAZON SELLER SERVICES PRIVATE LIMITED   2246.99
13                          VODAFONE IDEA LIMITED   2066.95
14                                ESSAR POWER LTD   1794.52
15           SUZUKI MOTOR GUJARAT PRIVATE LIMITED   1774.61
16             BUNDL TECHNOLOGIES PRIVATE LIMITED   1768.67
17                             AMBUJA CEMENTS LTD   1660.59
18       TRIGUNA HOSPITALITY VENTURES (INDIA) PVT   1656.78
19                                VEDANTA LIMITED   1607.00
20                          TATA TELESERVICES LTD   1574.30
21              DLF CYBER CITY DEVELOPERS LIMITED   1393.72
22                       ANI TECHNOLOGIES PVT LTD   1282.91
23              FLIPKART INTERNET PRIVATE LIMITED   1224.33
24                             STAR INDIA PVT LTD   1158.17
25                      FORTIS HEALTHCARE LIMITED   1131.04
26       TELENOR(INDIA) COMUNICATIONS PVT LTD(TEL   1103.95
27       SCHNEIDER ELECTRIC INDIA PRIVATE LIMITED   1069.09
28        HOUSING DEVELOPMENT FINANCE CORPORATION   1036.01
29                   RELIANCE BP MOBILITY LIMITED   1017.35
30       M/S THERMAL  POWERTECH CORPORATION INDIA    980.70
31         JP MORGAN SERVICES INDIA PRIVATE LIMIT    951.74
32                SHELL INDIA MARKETS PRIVATE LTD    910.45
33                        PHONEPE PRIVATE LIMITED    896.77
34                          VIOM NETWORKS LIMITED    893.44
35             AMAZON PAY (INDIA) PRIVATE LIMITED    860.42
36                   ZOMATO MEDIA PRIVATE LIMITED    851.65
37            ACCENTURE SOLUTIONS PRIVATE LIMITED    787.46
38              ESSEL MINING & INDUSTRIES LIMITED    741.74
39                     GMR INFRA SERVICES LIMITED    722.69
40                      DELHIVERY PRIVATE LIMITED    719.35
41                                  JSW STEEL LTD    719.23
42                    ADANI INFRA (INDIA) LIMITED    702.43
43                       INSITEL SERVICES PVT LTD    699.06
44            GE INDIA INDUSTRIAL PRIVATE LIMITED    695.31
45                              ADANI GAS LIMITED    694.81
46                         ZOMATO PRIVATE LIMITED    670.83
47        EMPOWER RESEARCH KNOWLEDGE SERVICES PVT    663.60
48               PAYTM E-COMMERCE PRIVATE LIMITED    642.36
49  RELIANCE NIPPON LIFE ASSET MANAGEMENT LIMITED    635.26

In [49]:
df3
#filer to include only countries Switzerland, Cayman Islands, Singapore, and Mauritius
df3 = df3[df3['Country'].isin(['Switzerland', 'Cayman Islands', 'Singapore', 'Mauritius'])]

In [39]:
#group by company and sum the dollars but keep the year and country, ma
df4 = df3.groupby(['Company','Year','Country'])['Dollars'].sum().sort_values(ascending=False).head(30)
df4

Company                                   Year  Country
JIO PLATFORMS LIMITED                     2020  Singapore         4254.27
BOSCH LIMITED                             2021  Switzerland       4026.37
VODAFONE INDIA LTD                        2017  Mauritius         3999.16
AMBUJA CEMENTS LTD                        2017  Mauritius         1660.59
TRIGUNA HOSPITALITY VENTURES (INDIA) PVT  2016  Singapore         1646.34
JIO PLATFORMS LIMITED                     2020  Cayman Islands    1522.26
BHARTI AIRTEL LIMITED                     2019  Mauritius         1324.25
ORAVEL STAYS PRIVATE LIMITED              2020  Cayman Islands    1199.64
VEDANTA LIMITED                           2021  Mauritius         1181.10
AXIS BANK LIMITED                         2018  Mauritius          906.90
DLF CYBER CITY DEVELOPERS LIMITED         2018  Singapore          882.60
VIOM NETWORKS LIMITED                     2016  Singapore          881.08
ONE 97 COMMUNICATIONS LIMITED             2018  Cayman Islands     804.84
HOUSING DEVELOPMENT FINANCE CORPORATION   2018  Singapore          792.24
ACCENTURE SOLUTIONS PRIVATE LIMITED       2017  Mauritius          787.46
FLIPKART INDIA PRIVATE LIMITED            2018  Singapore          687.85
EMPOWER RESEARCH KNOWLEDGE SERVICES PVT   2016  Singapore          663.60
SCHNEIDER ELECTRIC INDIA PRIVATE LIMITED  2020  Singapore          637.17
TELENOR(INDIA) COMUNICATIONS PVT LTD(TEL  2018  Singapore          607.05
FORTIS HEALTHCARE LIMITED                 2019  Singapore          565.52
BHARTI AIRTEL LIMITED                     2019  Singapore          556.56
M/S THERMAL  POWERTECH CORPORATION INDIA  2018  Singapore          540.79
PGP GLASS PRIVATE LIMITED                 2021  Singapore          525.47
ADANI INFRA (INDIA) LIMITED               2021  Mauritius          501.29
UPL LIMITED                               2017  Singapore          480.28
FLIPKART INTERNET PRIVATE LIMITED         2019  Singapore          470.30
AMAZON SELLER SERVICES PVT LTD            2018  Singapore          451.40
VODAFONE IDEA LIMITED                     2019  Mauritius          433.16
CLARIS INJECTABLES LIMITED                2017  Singapore          416.91
Name: Dollars, dtype: float64

In [40]:
#save as csv
df4.to_csv('yearwise.csv', index=True)

In [52]:
df

                      Country Dollars
0                   Singapore   71971
1                   Mauritius   60933
2    United States of America   25187
3                 Netherlands   20367
4                       Japan   16381
..                        ...     ...
170                   ECUADOR       0
171   TUnited KingdomMENISTAN       0
172                   NRI ***       0
173             Mali Republic       0
174                MAURITANIA       0

[175 rows x 2 columns]

In [62]:
#convert dollars to float
df['Dollars'] = df['Dollars'].astype(float)

In [63]:
#remove where dollars = 0
df = df[df['Dollars'] != 0]

In [65]:
df
#save to csv
df.to_csv('top50.csv', index=True)

In [17]:
#show me unique districts
df3['District'].unique()

array(['Bengaluru', 'Ahmedabad', 'CHENNAI', 'Ranchi', 'AHMEDABAD',
       'MUMBAI', 'REGION NOT INDICATED', 'NEW DELHI', 'Mumbai',
       'BANGALORE', 'HYDERABAD', 'West Delhi', 'Nawanshahr', 'CHANDIGARH',
       nan, 'Ahmedaba d', 'Gandhi Nagar', 'KOLKATA', 'THANE',
       'South West Delhi', 'KOCHI', 'South Delhi', 'Pune', 'Chennai',
       'Hyderabad', 'Gautam Buddha Nagar', 'Central Delhi', 'Kanchipuram',
       'North 24 parganas', 'Faridabad', 'Thane', 'Junagadh',
       'Kanchipura m', 'Daman', 'New Delhi', 'Kolkata', 'Gurgaon',
       'Chittoor', 'Tiruvallur', 'JAIPUR', 'Etah', 'North Delhi',
       'District Not Indicated', 'North West Delhi', 'SOUTH WEST DELHI',
       'K.V.Rangareddy', 'Ernakulam', 'Madurai', 'IMT Bawal Rewari',
       'East Delhi', 'Coimbatore', 'Alwar', 'Mahesana', 'BHUBANESH WAR',
       'CHANDIGAR H', 'BENGALURU', 'Ajmer', 'Kolhapur', 'Khorda',
       'Jaipur', 'Dewas', 'District Not', 'Ratlam', 'Krishnagiri',
       'PANAJI', 'BHUBANESHWAR', 'REGION NOT', 'Nellore', 'Surat',
       'Krishna', 'Rewari', 'Kanchipura', 'Vadodara', 'REGION', 'KANPUR',
       'Bawal', 'Nagpur', 'Indore', 'South Goa', 'Satara', 'Sidhi',
       'BHOPAL', 'Ananthapur', 'Ludhiana', 'South West',
       'North 24 Parganas', 'MUMBAI MUMBAI', 'Patna', 'Jodhpur',
       'North Goa', 'K.V.Rangar eddy', 'Jamuria', 'navi mumbai',
       'Ramanagar', 'Varanasi', 'Thrissur', 'Nashik', 'K.V.Rangare ddy',
       'NEW DELHI NEW DELHI', 'Mumbai Suburban', 'FARIDABAD', 'Erode',
       'Aurangabad', 'Bangalore Rural', 'Dehradun', 'Raigarh(MH)',
       'Belagavi', 'Rajkot', 'Jhajjar', 'Hisar', 'Jamnagar', 'REWARI',
       'Valsad', 'Ghaziabad', 'Tuticorin', 'Bikaner', 'Raichur',
       'Kinnaur', 'Chengalpet', 'Sundergarh', 'Visakhapatn am',
       'Paschim Bardhaman Jamuria', 'Chandigarh', 'Bhopal',
       'Raigarh(M H)', 'East Godavari', 'Panchkula', 'MOHALI',
       'Mahabub Nagar', 'North West', 'PATNA', 'Jaisalmer',
       'GAUTAM BUDDHA NAGAR', 'Visakhapatnam', 'Jalandhar',
       'Verna South Goa', 'CHENNAI MUMBAI', 'Thiruvananthapuram',
       'Kancheepur am', 'Thiruvallur', 'Kannur', 'Bharuch', 'BANGALOR E',
       'Ratnagiri', 'Navsari', 'MEERUT', 'Agra', 'Bangalore', 'GOLAGHAT',
       'Gautam\nBuddha', 'Howrah', 'Raigarh', 'Guntur', 'Medak',
       'Kachchh', 'Bhiwadi', 'GUWAHATI', 'CHENNAI CHENNAI', 'CHITTOOR',
       'Mohali', 'West Midnapore', 'Kozhikode', 'Lucknow',
       'Surendra Nagar', 'UDUMALPE T TIRUPPUR DISTRICT', 'GURUGRA M',
       'Tiruppur', 'Barmer', 'Begusarai', 'Hooghly', 'BEGUSARAI',
       'Chamrajnagar', 'Karim Nagar', 'JODHPUR', 'Kheda', 'Ahmed Nagar',
       'Nemrana', 'Brihan Mumbai', 'Dadra & Nagar Haveli',
       'Prantij Sabarkanth', 'UDUMAPET TIRUPPUR DISTRICT', 'Vadodra',
       'Mahendragarh', 'Visakhapatn', 'Thiruvanan thapuram',
       'Mahendraga rh', 'GANGANAGAR', 'Mysuru', 'GURGAON', 'Raisen',
       'Mahendrag arh', 'Coimbator e', 'Jhansi', 'Gautam', 'Kalaburagi',
       'Kolar', 'Panch Mahals', 'Riwari', 'Udham Singh Nagar', 'Bagpat',
       'Cuddalore', 'JAMMU', 'Sirmaur', 'Solan', 'BANGALORE BANGALORE',
       'Dakshina Kannada', 'Halol', 'Kurukshetra', 'Gurugram', 'Patiala',
       'Udumalpet Tiruppur', 'Visakhapat nam', 'NELLORE', 'Malappura m',
       'Thiruvanant hapuram', 'Mathura', 'Kota', 'pune', 'North 24',
       'Vellore', 'Gautam Buddha', 'Khurda', 'CHENGALPATTU', 'Tumakuru',
       'Baleswar', 'Yamuna Nagar', 'Gandhi', 'GUMLA', 'CHANDIGARH`',
       'Aurangaba d', 'Rohtak', 'Gautam Buddha\nNagar', 'Nalgonda',
       'LUDHIANA', 'Gumla', 'Udaipur', 'Malappuram', 'Uttara Kannada',
       'Darjiling', 'JAISALMER', 'Udupi', 'KANCHIPU RAM', 'Thiruvanant',
       'Beed', 'Kasargod', 'Dharwad', 'Virudhunagar', 'PUNJAB',
       'Haridwar', 'PANIPAT', 'Purba Bardhaman', 'VADODARA', 'Kangra',
       'Honawad Vijayapura', 'Shimla', 'Papum Pare', 'Tiruchirappalli',
       'KHORDHA', 'South 24 Parganas', 'THIRUVANTHAPURA M',
       'Vizianagaram', 'SAYKHA DISTT BHARUCH', 'Kamrup', 'Kullu',
       'East Nimar', 'Pondicherry', 'Khordha', 'Ananthapu r', 'Sonipat',
       'NEW DELHI MUMBAI', 'BHUBANESHW AR', 'Allahabad', 'Amritsar',
       'Seoni', 'HARIDWAR', 'SOUTH DELHI', 'Nalanda', 'KANCHIPURAM',
       'Meerut', 'North East Delhi', 'TIRUVALLUR', 'K.V.Rangare',
       'Lower Subansiri', 'RAMANAGA R', 'BANGALORE MUMBAI',
       'Kancheepuram', 'Kancheepu ram', 'Dhar', 'NASHIK',
       'Mirzapur and Jalaun', 'Hassan', 'Idukki', 'West Tripura',
       'Ahmedaba', 'Khammam', 'MUMBAI NEW DELHI', 'BULDHANA', 'khordha',
       'Salem', 'Budgam', 'Shi-Yomi', 'Nilgiris', 'KOTA', 'Jabalpur',
       'GAUTAM BUDH NAGAR', 'WEST SIANG', 'East Champaran', 'PUNE',
       'Fatehabad', 'Chitrakoot', 'SouthGoa', 'DHAR', 'KOCHI ',
       'Pratapgarh', 'Sikar', 'Virudhunag ar', 'RAMANAGAR', 'Ganganagar',
       'AHMEDABAD MUMBAI', 'Tirunelveli', 'Raipur', 'Bareilly',
       'Alappuzha', 'Moga', 'Hoshiarpur', 'North West\nDelhi', 'Prakasam',
       'GREATER NOIDA', 'Sirsa', 'Anand', 'Pathanamt hitta', 'jodhpur',
       'MOGA', 'Kottayam', 'Leh', 'MUMBAI ', 'Muzaffarnag ar', 'Ballari',
       'Kodagu', 'Kapurthala', 'Dindigul', 'Pathanamthitta', 'Bharatpur',
       'BHUBANESHWA R', 'Bhilwara', 'Kollam', 'Villupuram', 'Raigad',
       'Pali', 'Kanpur Nagar', 'Farrukhabad', 'Namakkal', 'Karur',
       'THIRUVANANTHAPU RAM', 'Kanyakumar i', 'Jalpaiguri', 'Shivamogga',
       'NEW DELHI ', 'Sangli', 'Tiruchirapp alli', 'DEHRADUN', 'Bathinda',
       'Jorhat', 'East Singhbhum', '7/B, K.S ROY ROAD KOLKATA',
       'Paschim\nBardhaman', 'Tiruvannam alai', 'KANCHEEPURAM',
       'GAUTAM BUDDHA\nNAGAR', 'GAUTAM\nBUDDHA NAGAR', 'Rajnandgao n',
       'Ramanathapuram', 'NOIDA', 'Gwalior', 'SIRMAUR', 'PITHORAGARH',
       'Tiruvannam', 'Buldhana', 'KOCHI KOCHI', 'SIKAR', 'CENTRAL DELHI',
       'Rajsamand', 'Kavali Nellore', 'Bhavnagar', 'Pathanamthi tta',
       'Tiruvannamalai', 'Sindhudurg', 'Budaun', 'Chandrapur',
       'GAUTAM BUDDH NAGAR', 'Panaji', 'KODAGU', 'Sirohi', 'bangalore',
       'Chikkaballapur', 'Koppal', 'NAYANDAHALLI', 'PUNE CITY', 'Patan',
       'Kanyakumari', 'CHENNAI ', 'ANANTHAPUR', 'Aligarh', 'Akola',
       'Srinagar', 'South West\nDelhi', 'Raigarh(MH\n)',
       'Gautam\nBuddha Nagar', 'Kurnool', 'Thanjavur', 'Firozpur',
       'Dahod', 'THIRUVANANTHAPURAM', 'Wayanad', 'Gorakhpur',
       'NEW DELHI BANGALORE', 'HYDERABAD NEW DELHI', 'Karnal', 'Katni',
       'Coimbator'], dtype=object)

In [54]:
#in df3 give me the rows that contain string adani
adani = df3[df3['Company'].str.contains('ADANI')]
adani

,Unnamed: 0,Company,State,District,Item,Foreign Collaborator,Country,Rupees,Dollars,Type,Year
11126,11126,ADANI GAS LIMITED,GUJARAT,Ahmedabad,Distribution and sale of gaseous fuels through,TOTAL HOLDINGS SAS,France,50906.89,684.69,Received in the,2020
0,0,ADANI INFRA (INDIA) LIMITED,GUJARAT,Gandhi Nagar,Construction and maintenance of power plants,HARMONIA TRADE AND INVESTMENT LIMITED,Mauritius,36471.99,501.29,Received in the Company,2021
4793,4793,ADANI INFRA (INDIA) LIMITED,GUJARAT,Gandhi Nagar,Construction and\nmaintenance of power plants,GARDENIA TRADE AND INVESTMENT LIMITED,Mauritius,11931.73,160.22,Received in the Company,2021
24651,24651,ADANI ELECTRICITY MUMBAI LIMITED,GUJARAT,Ahmedabad,Collection and distribution of electric energy...,QATAR HOLDINGS LLC,Qatar,12096.22,158.67,Received in the Company,2020
4794,4794,ADANI PORTS AND SPECIAL ECONOMIC ZONE LIMITED,GUJARAT,Ahmedabad,Cargo handling incidental to water transport,WINDY LAKESIDE INVESTMENT LTD,Mauritius,8000.00,109.19,Received in the Company,2021
...,...,...,...,...,...,...,...,...,...,...,...
31044,31044,ADANI BRAHMA BELVEDERE PVT LTD,NaN,NEW DELHI,Activities of other membership organizations n...,BRAHMA OPPORTUNITIES B LTD,Mauritius,0.05,0.00,NaN,2019
31369,31369,ADANI GREEN ENERGY LTD,NaN,AHMEDABAD,Electric power generation using solar\nenergy,FOREIGN NATIONALS,Saudi Arabia,0.08,0.00,NaN,2019
11127,11127,ADANI GAS LIMITED,GUJARAT,Ahmedabad,Distribution and sale of gaseous fuels through...,TOTAL HOLDINGS SAS,France,0.09,0.00,Received in the Company,2020
58862,58862,ADANI BRAHMA SYNERGY PRIVATE LTD,NaN,NEW DELHI,Construction of buildings carried out on own- ...,BRAHMA OPPORTUNITIES B LTD,Mauritius,0.05,0.00,NaN,2018
61726,61726,M/S ADANI ELBIT ADVANCED SYSTEMS INDIA L,NaN,AHMEDABAD,Defence activities,ELBIT SYSTEMS LTD,Israel,0.05,0.00,NaN,2018

In [55]:
#show me all columns in adani
adani.columns

Index(['Unnamed: 0', 'Company', 'State', 'District', 'Item',
       'Foreign Collaborator', 'Country', 'Rupees', 'Dollars', 'Type', 'Year'],
      dtype='object')

In [56]:
#remove where dollars = 0
adani = adani[adani['Dollars'] != 0]
adani

,Unnamed: 0,Company,State,District,Item,Foreign Collaborator,Country,Rupees,Dollars,Type,Year
11126,11126,ADANI GAS LIMITED,GUJARAT,Ahmedabad,Distribution and sale of gaseous fuels through,TOTAL HOLDINGS SAS,France,50906.89,684.69,Received in the,2020
0,0,ADANI INFRA (INDIA) LIMITED,GUJARAT,Gandhi Nagar,Construction and maintenance of power plants,HARMONIA TRADE AND INVESTMENT LIMITED,Mauritius,36471.99,501.29,Received in the Company,2021
4793,4793,ADANI INFRA (INDIA) LIMITED,GUJARAT,Gandhi Nagar,Construction and\nmaintenance of power plants,GARDENIA TRADE AND INVESTMENT LIMITED,Mauritius,11931.73,160.22,Received in the Company,2021
24651,24651,ADANI ELECTRICITY MUMBAI LIMITED,GUJARAT,Ahmedabad,Collection and distribution of electric energy...,QATAR HOLDINGS LLC,Qatar,12096.22,158.67,Received in the Company,2020
4794,4794,ADANI PORTS AND SPECIAL ECONOMIC ZONE LIMITED,GUJARAT,Ahmedabad,Cargo handling incidental to water transport,WINDY LAKESIDE INVESTMENT LTD,Mauritius,8000.00,109.19,Received in the Company,2021
...,...,...,...,...,...,...,...,...,...,...,...
81419,81419,ADANI PORTS AND SPECIAL ECONOMIC ZONE LI,NaN,REGION NOT INDICATED,Cargo handling incidental to water transport,WORLDWIDE EMERGING MARKET HOLDING LIMITE,Mauritius,9.33,0.14,NaN,2017
31370,31370,ADANI GREEN ENERGY LTD,NaN,AHMEDABAD,Electric power generation using solar energy,NON-RESIDENT INDIANS,Saudi Arabia,7.91,0.11,NaN,2019
43986,43986,M/S ADANI ELBIT ADVANCED SYSTEMS INDIA L,NaN,NaN,NaN,NAN,NaN,7.30,0.10,NaN,2019
40907,40907,M/S ADANI ELBIT ADVANCED SYSTEMS INDIA L,NaN,AHMEDABAD,Defence activities,ELBIT SYSTEMS LTD,Israel,7.30,0.10,NaN,2019
81152,81152,ADANI PORTS AND SPECIAL ECONOMIC ZONE LI,NaN,REGION NOT INDICATED,Cargo handling incidental to water transport,WORLDWIDE EMERGING MARKET HOLDING LIMITE,Mauritius,3.55,0.05,NaN,2017

In [76]:
#give me the unique companies
adani['Company'].unique()

array(['ADANI BRAHMA SYNERGY PRIVATE LTD',
       'ADANI CMA MUNDRA TERMINAL PRIVATE LIMITE',
       'ADANI ELECTRICITY MUMBAI LIMITED', 'ADANI GAS LTD',
       'ADANI GREEN ENERGY LTD',
       'ADANI GREEN ENERGY TWENTY THREE LIMITED',
       'ADANI INFRA (INDIA) LIMITED',
       'ADANI INTERNATIONAL CONTAINER TERMINAL P',
       'ADANI LAND DEVELOPERS PRIVATE LIMITED',
       'ADANI PETROLEUM TERMINAL PRIVATE LIMITED',
       'ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD', 'ADANI POWER LTD',
       'ADANI ROAD TRANSPORT LIMITED', 'ADANI TOTAL PRIVATE LIMITED',
       'ADANI-ELBIT ADVANCED SYSTEMS INDIA LIMITED',
       'ADANICONNEX PRIVATE LIMITED',
       'ATUL ADANI FINANCIAL SERVICES PRIVATE LIMITED',
       'M/S ADANI ELBIT ADVANCED SYSTEMS INDIA L'], dtype=object)

In [74]:
# adani['Company'] = adani['Company'].str.strip().replace('ADANI PORTS AND SPECIAL ECONOMIC ZONE LI', 'ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI PORTS AND SPECIAL ECONOMIC ZONE LIMITED', 'ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI PORTS AND SPECIAL ECONOMIC ZONE LT', 'ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD')
#adani['Company'] = adani['Company'].str.strip().replace('ADANI PORTS AND SPEICAL ECONOMIC ZONE LT', 'ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD')
adani['Company'] = adani['Company'].str.strip().replace('ADANI PORTS AND SPECIAL ECONOIC ZONE LIM', 'ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI PORTS AND SPECIAL ECONOMIC ZONE LIMITED', 'ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI POWER LIMITED', 'ADANI POWER LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI GAS LIMITED', 'ADANI GAS LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI GREEN ENERGY LIMITED', 'ADANI GREEN ENERGY LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI TRANSMISSION LIMITED', 'ADANI TRANSMISSION LTD')
# adani['Company'] = adani['Company'].str.strip().replace('ADANI ENTERPRISES LIMITED', 'ADANI ENTERPRISES LTD')

In [78]:
#group by company, country and sum the dollars
adani = adani.groupby(['Company', 'Country']).sum().reset_index()
adani

,Company,Country,Unnamed: 0,Rupees,Dollars,Year
0,ADANI BRAHMA SYNERGY PRIVATE LTD,Mauritius,58555,167.73,2.58,2018
1,ADANI CMA MUNDRA TERMINAL PRIVATE LIMITE,France,72706,289.83,4.50,2017
2,ADANI ELECTRICITY MUMBAI LIMITED,Qatar,24651,12096.22,158.67,2020
3,ADANI GAS LTD,France,22251,51659.22,694.81,4040
4,ADANI GREEN ENERGY LTD,Mauritius,228554,4785.11,71.55,10091
5,ADANI GREEN ENERGY LTD,Saudi Arabia,31370,7.91,0.11,2019
6,ADANI GREEN ENERGY TWENTY THREE LIMITED,Singapore,8200,45.00,0.59,2020
7,ADANI INFRA (INDIA) LIMITED,Mauritius,9585,51451.46,702.43,6063
8,ADANI INTERNATIONAL CONTAINER TERMINAL P,Cyprus,61385,192.49,2.96,2018
9,ADANI LAND DEVELOPERS PRIVATE LIMITED,United Arab Emirates,618228,3418.60,51.83,14113
10,ADANI LAND DEVELOPERS PRIVATE LIMITED,United Kingdom,83787,237.38,3.57,2016
11,ADANI PETROLEUM TERMINAL PRIVATE LIMITED,France,59558,5664.54,81.79,4038
12,ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD,Germany,80944,107.41,1.68,2017
13,ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD,Mauritius,9939815,45315.19,653.09,280379
14,ADANI PORTS AND SPECIAL ECONOMIC ZONE LTD,United Arab Emirates,5460778,33927.16,527.33,175542
15,ADANI POWER LTD,Mauritius,5105265,23147.97,349.86,147251
16,ADANI POWER LTD,United Arab Emirates,3140144,6706.51,103.49,108971
17,ADANI POWER LTD,United States of America,96072,5791.56,86.41,2016
18,ADANI ROAD TRANSPORT LIMITED,Mauritius,4795,2178.82,29.26,2021
19,ADANI TOTAL PRIVATE LIMITED,France,5808,432.50,5.92,6063
20,ADANI-ELBIT ADVANCED SYSTEMS INDIA LIMITED,Israel,21588,38.96,0.53,2020
21,ADANICONNEX PRIVATE LIMITED,Netherlands,4797,854.41,11.62,2021
22,ATUL ADANI FINANCIAL SERVICES PRIVATE LIMITED,United Arab Emirates,222,318.85,4.38,2021
23,M/S ADANI ELBIT ADVANCED SYSTEMS INDIA L,Israel,81832,141.93,1.93,4038

In [28]:
adani['Company'].unique()

array(['ADANI GAS LIMITED', 'ADANI INFRA (INDIA) LIMITED',
       'ADANI ELECTRICITY MUMBAI LIMITED',
       'ADANI PORTS AND SPECIAL ECONOMIC ZONE LIMITED',
       'ADANI POWER LIMITED', 'ADANI PETROLEUM TERMINAL PRIVATE LIMITED',
       'ADANI PORTS AND SPECIAL ECONOMIC ZONE LI',
       'ADANI ROAD TRANSPORT LIMITED', 'ADANI GREEN ENERGY LTD',
       'ADANI PORTS AND SPECIAL ECONOMIC ZONE LT',
       'ADANI LAND DEVELOPERS PRIVATE LIMITED',
       'ADANI GREEN ENERGY LIMITED', 'ADANICONNEX PRIVATE LIMITED',
       'ADANI POWER LTD', 'ADANI CMA MUNDRA TERMINAL PRIVATE LIMITE',
       'ATUL ADANI FINANCIAL SERVICES PRIVATE LIMITED',
       'ADANI PORTS AND SPECIAL ECONOIC ZONE LIM',
       'ADANI INTERNATIONAL CONTAINER TERMINAL P',
       'ADANI TOTAL PRIVATE LIMITED', 'ADANI BRAHMA SYNERGY PRIVATE LTD',
       'M/S ADANI ELBIT ADVANCED SYSTEMS INDIA L',
       'ADANI PORTS AND SPEICAL ECONOMIC ZONE LT',
       'ADANI GREEN ENERGY TWENTY THREE LIMITED',
       'ADANI-ELBIT ADVANCED SYSTEMS INDIA LIMITED'], dtype=object)